@charset "utf-8";

/* ==============================================
	폰트
============================================== */
@font-face {
    font-family: 'noto';
    src: url('font/notosanskr-demilight.woff2') format('woff2'),
         url('font/notosanskr-demilight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'noto';
    src: url('font/notosanskr-regular.woff2') format('woff2'),
         url('font/notosanskr-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'noto';
    src: url('font/notosanskr-medium.woff2') format('woff2'),
         url('font/notosanskr-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


/* ==============================================
	리셋
============================================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0;box-sizing: border-box;}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{border-radius:0;vertical-align:middle}
input::-ms-clear{display:none}
select::-ms-expand {display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
html {font-size:62.5%;}
body{background:#fff;direction:ltr;-webkit-text-size-adjust:none; word-break: keep-all;}
body,th,td,input,select,textarea,button {color:#000;font-size:13px;font-family:'noto',sans-serif;font-weight:400;line-height:1.5;letter-spacing:-0.35px}
a{color:#000;text-decoration:none}
a:hover{text-decoration:none;}
a:active{background-color:transparent;}
*:focus {outline:none}
address,caption,cite,code,dfn,em,var{font-style:normal;}
strong {font-weight:700;}
table {table-layout:fixed;border-collapse:collapse;width:100%;border-spacing:0;border:0;}

div,
dl,
dt,
dd,
ul,
li,
a,
span,
label,
input,
section,
:before,
::before,
:after,
::after {box-sizing:border-box;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance:none;
	margin:0;
}

input:-ms-input-placeholder {color:#9095a5;font-weight:300}
input::-webkit-input-placeholder {color:#9095a5;font-weight:300}
input::-moz-placeholder{color:#9095a5;font-weight:300}
input::placeholder {color:#9095a5;font-weight:300}

textarea:-ms-input-placeholder {color:#888;font-weight:300}
textarea::-webkit-input-placeholder {color:#888;font-weight:300}
textarea::-moz-placeholder{color:#888;font-weight:300}
textarea::placeholder {color:#888;font-weight:300}
.hide {display:none;}
.blind{
	position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
input[type=text],
input[type=number],
input[type=tel],
input[type=password] {
	height:40px;
	padding:0 10px;
	border:1px solid #ccc;
	box-sizing:border-box;
	outline:0;
}

input[type=radio],
input[type=checkbox] {vertical-align:middle;}
label {display:inline-block;vertical-align:middle;}

select {
	height:36px;
	padding:5px 5px 5px 10px;
	border:1px solid #ccc;
	box-sizing:border-box;
	background-color:#fff;
	outline:0;
	transition:all .1s;
	-webkit-appearance:none; 
}
table caption {display:none;}

.scroll-area {
	-ms-overflow-style: auto;	
	scrollbar-width: thin;
	overflow-y: auto;	
  }
  


