@charset "utf-8";
@import 'common.css'; 
/* @import 'jquery.mCustomScrollbar.css';  */



/* ==============
	레이아웃
============== */
.wrapper {
	max-height:1080px;
	width:1280px; 
	background-color:#f3f4f5;
	
}

.header {
	position:fixed; 
	top:0; 
	left:0; 
	right:0;
	width:100%;
	max-width:1280px; 
	height:78px; 
	background-color:#009591;  
	z-index: 10;
}
.container {
	min-height:850px;
	padding-top:78px;
}
/* .lnb {
	position:fixed;
	left:0; 
	top:78px; 
	bottom:0;
	width:88px;
	background-color:aliceblue; 
	z-index:10
} */
.contents {
	position:relative;
	width:1280px; 
	/* min-height:calc(100vh - 171px); */
	/* margin-left:88px;	 */
	padding:57px 0 36px; 
}
.title {
	position:fixed;
	left:0; 
	top:78px; 
	/* width:calc(100% - 88px); */
	width:100%;
	max-width:1280px;  
	background-color:#f9f9fb;
	z-index: 10
}
.tit-area {
	display:flex; 
	justify-content: space-between;
	align-items:center; 
	height:57px;
	line-height:57px;
	padding:0 20px;
	color:#009591;
	font-weight:700;
}
.footer {
	position:absolute;
	left:0;
	bottom:0; 
	width:1280px; 
	height:36px; 
	background-color:#e6e6e6; 
	text-align:center
}

/* ==============
	공통
============== */

/*폰트*/
.f-white {color:#fff !important}
.f-red {color:#e53a4c !important}
.f-gray {color:#999 !important}
.f-black {color:#000 !important}

.f-mid {font-weight:500 !important}
.f-light {font-weight:300 !important}
.f-bold {font-weight:700 !important}

.f-sm {font-size:12px !important}
.f-13 {font-size:13px}
.f-14 {font-size:14px}

.underline {text-decoration: underline;}

/* 정렬 */
.align-center {text-align: center !important;}
/* .right {text-align: right !important;}
.left {text-align: left !important;} */

.flex-area {display:flex;}
.flex-area.both {justify-content: space-between; align-items: center;}


/*인라인/블록*/
.block {display: block;}

/* 말줄임 */
.ellipsis {
	display: block; 
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;  
  }


/* 버튼 */
.btn-round {
	display:inline-block;	
	padding:0 15px;
	color:#fff;	
	text-align:center;	
	border-radius: 20px;
}
.btn-round.bg-green {background-color:#21b9bf; color:#fff}

 /* border버튼 */
.btn-border{
	display:inline-block;	
	padding:0 8px;
	border:1px solid #c1c1c1;
	color:#222a3b;	
	text-align:center;	
	border-radius: 20px;
	vertical-align: top;
}

.btn-round-square {
	display:inline-block;
    height: 33px;
    border: 1px solid #e9eaef;
	background-color:#fff;
    /* color: #d3452e; */
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
}
.btn-sm {
	/* min-width:55px; */
	height:22px;
	line-height:20px;
	font-size:12px;
	font-weight:300;
}
 /* 아이콘 버튼 */
 .btn-qustion {
	width:20px;
	height:20px;
	background: url(../images/icon/icon_qustion.png) no-repeat center;
 }
/* .btn-mid {
	min-width:55px;
	height:32px;
	line-height:30px;
	font-size:13px;
	font-weight:400;
}

.btn-lg {
	min-width:190px;
	height:52px;
	line-height:50px;
	font-size:16px;
	font-weight:700;
	border-radius:6px;
} */



/* ==============
	폼요소
============== */


input[type=radio][class^=styled],
input[type=checkbox][class^=styled] {
    position:relative;
    z-index:5;
    opacity:0;
}
.chkbox {
    display:inline-block;
    position:relative;
	top: -1px;
    box-sizing:border-box;
    font-size:0;
    vertical-align:middle;
}

.chkbox .chk {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
    border:1px solid #c7c7c7;
	background-color:#fff;
	border-radius: 2px;
}

/* 라디오 */
.chkbox input[type=radio] {
    width:20px;
    height:20px;
    margin:0;
    padding:0;
}
.chkbox input[type=radio] + .chk {border-radius:50%;}
.chkbox input[type=radio] + .chk:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    height:100%;
    border-radius:50%;
    background-color:#009591;
    opacity:0;
}
.chkbox input[type=radio]:checked + .chk {border:2px solid#009591}
.chkbox input[type=radio]:checked + .chk:before {
    width:50%;
    height:50%;
    opacity:1;
    /* transition:all .3s; */
}
.chkbox input[type=radio][disabled] + .chk {background-color:#f5f5f5; border-color:#c7c7c7}
.chkbox input[type=radio][disabled] + .chk:before {background-color:#ddd;}

/* 체크박스 */
.chkbox input[type=checkbox] {
    width:20px;
    height:20px;
    margin:0;
    padding:0;
}
.chkbox input[type=checkbox] + .chk:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    width:40%;
    height:70%;
    margin-top:-7%;
    box-sizing:border-box;
    border-right:2px solid #009591;
    border-bottom:2px solid #009591;
    opacity:0;
}
.chkbox input[type=checkbox]:checked + .chk {border-color:#009591}
.chkbox input[type=checkbox]:checked + .chk:before {
    transform:translate(-50%,-50%) rotate(45deg);
    opacity:1;
    /* transition:all .3s; */
}
.chkbox input[type=checkbox][disabled] + .chk {background-color:#f5f5f5;}
.chkbox input[type=checkbox][disabled] + .chk:before {border-color:#ddd;}


.chkbox input[type=checkbox].styled2 {
    width:22px;
    height:22px;
    margin:0;
    padding:0;
}
.chkbox input[type=checkbox].styled2 + .chk {
	border:2px solid #acacac;
	border-radius:50%;
}
.chkbox input[type=checkbox].styled2 + .chk:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
	width:35%;
    height:62%;
    margin-top:-4%;
    box-sizing:border-box;
    border-right:2px solid #acacac;
    border-bottom:2px solid #acacac;
    opacity:1;
}
.chkbox input[type=checkbox].styled2:checked + .chk{
	background-color:#009591;
	border-color:#009591;
}
.chkbox input[type=checkbox].styled2:checked + .chk:before {  
    opacity:1;
	border-color:#fff;
  
}
.chkbox input[type=checkbox].styled2[disabled] + .chk {background-color:#f5f5f5;}
.chkbox input[type=checkbox].styled2[disabled] + .chk:before {border-color:#ddd;}

.select-box {
	display:inline-block;
}
.select-box select.styled{
	height: 34px;
	min-width: 120px;
    padding:0 40px 0 10px;
    border: 1px solid #dbdbdb;    
    background: #fff url(../images/icon/icon_16_down.png) no-repeat right center;
    font-size: 13px;
    line-height: 32px;
    outline: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	box-sizing: border-box;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}	


.select-box.wide {display:block;}
.select-box.wide select{
	width:100%; 
	/* padding-left:20px */
}

/* 인풋 */
.input-text input,
.input-text textarea{
	width: 100%;
	height:32px;
	padding:0 10px;
	line-height:30px;
	border:1px solid #dbdbdb;
	font-size:13px;
}
.input-text.wide input {width: 100%;}

/*검색영역*/
 .search-area {
	text-align:center;
}
 .search-area .search-box {
	/* display:inline-block; */
	position:relative;
}
 .search-area .search-box input {
	width:100%;
	height:35px;
	padding:0 46px 0 16px;
	border:1px solid #dddddf;
	color:#000;
	outline:0;
	/* transition:all .2s; */
}
 .search-area .search-box .btn-search {
	position:absolute;
	top:0;
	right:0;
	width:46px;
	/* height:35px; */
	height: 100%;
	background-image:url(../images/icon//ico_srch.png);
	background-repeat:no-repeat;
	background-position:10px 50%;
	font-size:0;
	text-indent:-99999px;
	line-height:0;
}
/* focus */
 /* .search-area .search-box input:focus {
	width:400px;
	border-color:#00a6d6;
	transition-timing-function:linear;
} */
 /* .search-area .search-box input:focus + .btn-search {background-image:url(../images/icon/ico_srch_on.png);} */

/* ==============
	테이블
============== */
[class^=board-] .input-text input[type="text"],
[class^=board-] .input-text input[type="password"],
[class^=board-] .input-text input[type="number"] {
	width:100%;
}


/* 리스트 테이블 */
.board-list {
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;	
}
.board-list table {
	width:100%;
}
.board-list .no-data p {padding:60px 0}

.board-list table thead th {
	height:48px;
	background-color:#f6f7f8;
	font-size:14px;
	color:#000;
	font-weight:700;
}
/*
.board-list table thead th .sort {
	position:relative;
	padding-right:15px;
	font-size: 13px;
    font-weight: 500;
}
.board-list table thead th .sort:after{
	content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 6px;
    height: 6px;
    margin-top: -5px;
    border-right: 2px solid #7e868f;
    border-bottom: 2px solid #7e868f;
    transform: rotate(45deg);
}
.board-list table thead th .sort.on:after {
	transform: rotate(225deg);
	margin-top: -2px;
}
*/
.board-list table tbody th {
	border-top:1px solid #f2f2f2;
}
.board-list table td{
	padding:14px 0;
	color:#000;
	font-size:14px;
	text-align:center;
	border-top:1px solid #f2f2f2;
	word-wrap:break-word;
}
.board-list table tr:first-child td,
.board-list table tbody tr:first-child th {border-top:0} 
.board-list table tbody tr:first-child td {border-top: 1px solid #dbdbdb;}
.board-list table td p.tit {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;  /* 말줄임 적용 */
}
.board-list table td .link {font-size: 13px; font-weight: 300;}

.board-list table .chkbox,
.board-list table img {vertical-align:middle;}



/* 뷰 */
.board-write {
	border:1px solid #dbdbdb;
	/* border-bottom:1px solid #dbdbdb; */
}

.board-write th,
.board-write td {
	height:48px;
	border-top:1px solid #dbdbdb;
	box-sizing:border-box;
	color:#666;
	font-size: 13px;
}
 .board-write tr:first-child th,
.board-write tr:first-child td {border-top:0;} 
.board-write th {
	padding:15px 20px;
	background-color:#f5f6f8;	
	font-weight:500;
	text-align:left;
}
.board-write td {
	padding: 7px 15px;  
	background-color:#fff;
}

.board-write.sm th,
.board-write.sm td {
	height:40px;
	padding:0 0 0  12px;
	font-weight:300;
}

/*
.essential {position:relative;}
.essential:before {
	content: '';
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    left: -8px;
	top: 9px;	
	border-radius: 50%;
    background-color: #009591;
}


/*페이징*/
.pagenation {
	position:relative;
	margin-top:40px;
	font-size:0;
	text-align:center;
}
.pagenation .page {
	display:inline-block;	
	margin:0 4px;
	padding: 0 8px;
	color:#000;
	font-size:13px;
	vertical-align:middle;
	line-height:24px;
	font-weight: 400;
}
/* .pagenation .page:hover {border-color:#666;} */
.pagenation [class^=btn-] {
	position:relative;
	width:28px;
	height:28px;
	margin: 0 8px;
	padding: 0;
	font-size:0;
	text-indent:-99999px;
	line-height:0;
	background-color:#fff;
	border:1px solid #dbdbdb;
}
.pagenation [class^=btn-]:before {
	content:'';
	position:absolute;
	top:50%;
	left:50%;
	width:20px;
	height:20px;
	margin:-10px 0 0 -10px;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.pagenation .btn-prev {margin-left:0}
.pagenation .btn-next {margin-right:0}
.pagenation .btn-first {margin-right:5px}
.pagenation .btn-last {margin-left:5px}
.pagenation .btn-first:before {background-image:url(../images/icon/icon_28_firstpage.png);}
.pagenation .btn-prev:before {background-image:url(../images/icon/icon_28_older.png);}
.pagenation .btn-next:before {
	transform:rotate(180deg);
	background-image:url(../images/icon/icon_28_older.png);
}
.pagenation .btn-last:before {
	transform:rotate(180deg);
	background-image:url(../images/icon/icon_28_firstpage.png);
}
.pagenation .page.now {	
	position:relative;
	color:#009591;
	font-weight:700;
}
.pagenation .page.now:before {
	content: '';
	display:block;
	height:2px;
	position:absolute;
	left:6px;right:6px;
	bottom:0;
	background-color:#009591;
}

.pagenation.disabled:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	z-index:5;
	width:100%;
	height:100%;
}
.pagenation.disabled .page {
	border-color:#e5e5e5;
	background-color:#fafafa;
	color:#000;
	font-weight:400
}
.pagenation.disabled .page.now {
	border-color:#e3e3e3;
	background-color:#e3e3e3;
}


/* ==============
	탭
============== */

.tab-lst {
	display:flex;
	position:relative;
	/* padding-left:1px; */
}

.tab-lst .tab-item {
	/*flex:1;
	position:relative;
	 margin-left:-1px; */
	/* display:block;
	width:100%; */
	flex:1;
	height:36px;
	box-sizing:border-box;


	font-weight:500;
	text-align:center;
	outline:0;
}
.tab-lst .tab-item + .tab-item {margin-left:8px;}
/* .tab-lst .tab-item > .btn {
	display:block;
	width:100%;
	height:44px;
	box-sizing:border-box;
	color:#999;
	font-size:13px;
	font-weight:500;
	text-align:center;
	outline:0;
} */
.tab-lst .tab-item > .txt {
	display:block;
	position:relative;
	border:1px solid #e7e9ee;
	background-color:#fff;
	line-height:34px;
	font-size:14px;
	color:#666;
	font-weight:300;
	border-radius: 20px;
}
.tab-lst .tab-item.on > .txt {
	background-color:#21b9bf;
	color:#fff;
	font-weight:500;
	border-color:#21b9bf
	
} 
/* .tab-lst.sm .tab-item .btn {
	height:38px;
	line-height: 38px;
	font-size:13px;
} */
.tab-lst .tab-item .btn > .txt {line-height: 38px;}

/* on */
.tab-lst .tab-item.on,
.tab-lst .tab-item.on > .txt {transition:all .2s;}
.tab-lst .tab-item.on {z-index:5;}
/*.tab-lst .tab-item.on .txt {
	color:#000;
}
 .tab-lst .tab-item.on > .txt {
	background-color:#fff;
	border-color:#dbdbdb;
	border-bottom-color:#fff;
	
} */
/* .tab-lst .tab-item .btn .txt .btn-tooltip {vertical-align: text-bottom;}
.tab-lst .tab-item .btn .txt .tooltip-area {display: none;}
.tab-lst .tab-item.on .btn .txt .tooltip-area {display: inline-block;} */
/*211027 -s-*/
/* .tab-lst.tab-lst2 {
	display: block;
	position:relative;
	height: 80px;
	padding-left:1px;
}
.tab-lst.tab-lst2 .tab-item {	
	display:block;
	float: left;
	width: 33.333%;
}
.tab-lst.tab-lst2 .tab-item .btn {height: 40px;}
.tab-lst.tab-lst2 .tab-item:nth-child(-n+3) .btn .txt {
	border-bottom: 1px solid #f6f7f8;
} */
/*211027 -end-*/

.tab-cont {display:none;}
.tab-cont.on {display:block;}

.layer-popup .tab-cont {margin-top:30px;}
.layer-popup .lg .btn-area .btn-mid {min-width:104px !important}
.layer-popup .lg .box-gray .select-box + button {margin-left: 8px;}
.layer-popup .lg .box-gray.search-area {margin-bottom:20px}

.tab-lst.depth2 {
	display:inline-flex
}
.tab-lst.depth2 .tab-item {flex: inherit;}
.tab-lst.depth2 .tab-item .btn {font-size:13px; color:#9c9c9c; font-weight:400}
.tab-lst.depth2 .tab-item .btn .txt {border:0;background-color:#fff}
.tab-lst.depth2 .tab-item.on .btn {color:#009591}
.tab-lst.depth2 .tab-item + .tab-item .btn .txt {padding-left:15px; margin-left:15px}
.tab-lst.depth2 .tab-item + .tab-item .btn .txt:before {
	content: '';
	display: block;
	width:1px;
	height:15px;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-7px;
	background-color:#c7c7c7;
}


/* ==============
	datepicker
============== */
.input-text.cal {position:relative; display:inline-block;}
.input-text.cal input {
	width:140px;
	padding-right:30px
}
.input-text.cal input + img {position:absolute; right:8px; top:50%; margin-top:-10px;}

.ui-datepicker {
	display: none;
	width:240px; 	
	padding:0 12px 30px 12px;
	background-color:#fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #dbdbdb;
}

.ui-datepicker-header .ui-corner-all {
	position:absolute;
	top:0;
	font-size:0;
	width:35px;
	height:35px;
}
.ui-datepicker-header .ui-datepicker-prev {
	left:0;
	background:url(../images/icon/arrow_calendar_older.png) no-repeat 0 0;

}
.ui-datepicker-header .ui-datepicker-next {
	right:0;
	background:url(../images/icon/arrow_calendar_older.png) no-repeat 0 0;
	transform: rotate(180deg);
}
.ui-datepicker-title {
	height:35px;
	margin: 0 -12px;
	border-bottom:1px solid #dbdbdb;
	font-size: 16px;
	text-align:center
}
.ui-datepicker-title > span {
	display:inline-block;
	height: 35px;
	line-height: 35px;
}
.ui-datepicker-calendar thead th {height: 33px;}
.ui-datepicker-calendar thead span {
	
	font-size:12px;
	color:#adb6bf;
	text-decoration: underline;
}
.ui-datepicker-calendar tbody td {text-align:center; height:30px; line-height: 30px;}
.ui-datepicker-calendar tbody td .ui-state-default {font-size:14px; font-weight:400}
.ui-datepicker-today {background-color: #ecedef;}
.ui-datepicker-current-day {background-color:#009591; } 
.ui-datepicker-current-day a {color:#fff}
.ui-datepicker-calendar tbody tr td:first-child a {color:#e22267}

/* ==============
	레이어팝업
============== */
html.popOpen {overflow:hidden;}
.dimmed {position:fixed;left:0;right:0; top:0; bottom:0;background-color:rgba(0,0,0,.6); width:1260px;}
.layer-popup {
    display:none;
    overflow:auto;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:150;
    padding:50px 50px 0;    
	z-index:200;
	width:1260px;
}
.layer-popup .popup {
    position:relative;
    width:450px;
    margin:0 auto 50px;
	padding-bottom:30px;
    box-sizing:border-box;
    background-color:#fff;
}
.layer-popup .popup.xs {width:280px;}
.layer-popup .popup.sm {width:360px;}
.layer-popup .popup.sm .btn-area > .btn-mid {min-width:104px}
.layer-popup .popup.mid {width:430px;}
.layer-popup .popup.lg {width:560px;}
.layer-popup .popup.xl {width:680px;}

.layer-popup .popup-header {
	min-height:54px;
	position:relative;
	padding:13px 30px;
	background-color:#414550;

}
.layer-popup .popup-header .title {
	display:inline-block;
	font-size: 18px;
	color:#fff;
	font-weight: 500;
}
.layer-popup .popup-header .title + .tooltip-area {margin-left:5px;}
.layer-popup .btn-tooltip {margin-top:-9px}
.layer-popup .btn-close {
    position:absolute;
    top:50%;
    right:16px;
    width:25px;
    height:25px;
	margin-top:-12px;
    border:0;
    background-color:transparent;
    font-size:0;
    font-size:0;
    text-indent:-99999px;
    line-height:0;
    cursor:pointer;
}
.layer-popup .btn-close:before,
.layer-popup .btn-close:after {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:25px;
    height:1px;
    background-color:#ddd;
}
.layer-popup .btn-close:before {
    transform:translate(-50%,-50%) rotate(45deg);
}
.layer-popup .btn-close:after {
    transform:translate(-50%,-50%) rotate(135deg);
}
.layer-popup .popup-cont {padding:30px 30px 10px 30px;}

/* 팝업오픈 */
.layer-popup .popup {opacity:0;}
.layer-popup.open .popup {
    opacity:1;
    transition:transform .3s, opacity .3s;
}


/* ==========================================
	서브컨텐츠
========================================== */
/* 상담관리 > 개인상담 */
.content.flex {
	display:flex;
	align-items: stretch;
	min-height: calc(100vh - 171px);
}

.content.flex .box {
	/* flex:1;  */
	position:relative
}

.main-chat .content .top {
	height:46px;
	padding:0 20px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.main-chat .content .top .tit { 
	font-size:16px; 
	font-weight:500
}
.main-chat .chat-area {width:475px}
.main-chat .chat-area .center {
	position: absolute;
    left: 0;
    top: 46px;
    bottom:83px;
    width: 100%;
}
.main-chat .chat-area .center .search-area {
	position:absolute;
	left:0;
	right:0;
	top:0;
}
.main-chat .chat-area .center .search-box {
	width:100%;
	border-top:1px solid #dadce4;
	border-bottom:1px solid #dadce4;	
	background-color:#f3f4f5;
}
.main-chat .chat-area .center .search-box input {border:0; height:45px;/* background-color:#f3f4f5*/}
.main-chat .chat-area .bottom {
	position:absolute; 
	left:0; 
	right:0;
	bottom:0
}
.main-chat .chat-area .bottom .btn-area {padding:10px 20px}

.chat-wrap {
	display: flex;  
	flex-direction: column; 
	align-items: stretch; 
	height: 100%;
	padding-top:47px;
	/* background-color:#f3f4f5; */
}
.chat-cont {
	
	background-color:#fff;
	flex:1; 
	/*overflow-y: hidden;*/
	overflow-y:auto;
	padding:5px 20px 20px 20px;
}
.chat-cont::-webkit-scrollbar-track {
	background-color: #fff;
  }
.chat-cont .date {
	position:relative;
	padding:15px 0;
	text-align:center;
}
.chat-cont .date:before {
	content: '';
	display: block;
	position:absolute;
	left:0; right:0;
	top:50%;
	height:1px;
	background-color:#c3c4c4;
	z-index:1;
}
.chat-cont .date > span {
	position:relative;
	padding: 0 15px;
	font-size:12px;
	color:#465e6f; 
	background-color:#fff;
	font-weight:500;
	z-index:2;
	
}
.chat-cont .system-msg {text-align:center}
.chat-cont .system-msg p {
	font-size:12px;
	color:#666;
	font-weight:300
}
.chat-cont .system-msg p > .tit {display:block;font-weight:400}
.chat-cont .chat-item-list {
	display:flex;
	flex-direction: column;
	margin-top:30px; 
}
.chat-cont .chat-item {
	display:flex;
	flex-direction: column;
}
.chat-cont .chat-item + .chat-item {margin-top:20px}
.chat-cont .chat-item.right {
	align-items: flex-end;
}
.chat-cont .chat-item.right .chat-txt {flex-flow: row-reverse;}
.chat-cont .chat-item.left {align-items: flex-start;}
.chat-cont .chat-item .chat-name {padding-bottom:5px}
.chat-cont .chat-item .chat-name > span {
	display:block;
	font-size:12px;
	color:#666
}
.chat-cont .chat-item .chat-txt {display:flex; align-items:flex-end}
.chat-cont .chat-item .chat-txt .time {font-size:12px; color:#999; font-weight:300}
.chat-cont .chat-item.right .chat-txt .time {padding-right:8px}
.chat-cont .chat-item.left .chat-txt .time {padding-left:8px}
.chat-cont .chat-item .chat-txt .txt {
	max-width:80%;
	padding:12px;
	background-color:#fff;
	border:1px solid #e7e9ee;
	font-size:14px;
	font-weight: 300;
	line-height:18px;
	border-radius:8px;
}
.chat-box {
	overflow:hidden;
	width:100% !important;
	padding:20px;
	background:#fff;
	display:flex; 
	align-items: center;
	/* border-top:1px solid #e9eaf6;
	border-bottom:1px solid #e9eaf6; */
	background-color:#f3f4f5;

	
}
.chat-box .reHeight {
	width:100%; 
	min-height:76px;
	padding: 0 25px 0 0;
	margin-right:5px;
	
}

.chat-box textarea{
	width:100%;
	/* height:160px;  */
	max-height:400px;
	resize:none; 
	overflow:hidden; 
	outline:none;
	margin: 0;
	border:none;
	background:transparent;
	box-shadow: none;
	
}
.chat-box .btn-send {
	width:80px;
	height:80px;	
	color:#009591;	
}
.chat-area .btn-chat-close {
	width:100%;		
	color:#d3452e;	
} 

.chat-list-area {
	width:322px;
	border-left:2px solid #e7e9ee;
	border-right:2px solid #e7e9ee;
}
.chat-list-area .search-area {
	display:flex;
	height:59px;
	border-top: 1px solid #dadce4;
    border-bottom: 1px solid #dadce4;
}
.chat-list-area .search-area .search-box {width:calc(100% - 60px)}
.chat-list-area .search-area input {height:57px; line-height:59px; border:0}
.chat-list-area .search-area .btn-area {width:60px; border-left:1px solid #e7e9ee}
.chat-list-area .search-area .btn-area > button {
	width:100%; 
	height:50%;
	border-right:0;
	border-bottom:0;
	background-color:#fff;
}
.chat-list-area .search-area .btn-area > .btn-detail {
	border-bottom:1px solid #e7e9ee;
	color:#21b9bf;
}
.chat-list-area .search-area .btn-area > .btn-order {
    background: #fff url(../images/icon/icon_order.png) no-repeat center center;
}
.chat-list-area .tab-lst {padding:4px 20px 15px 20px}
.chat-list {height:calc(100vh - 331px)}
.chat-list li {
	display:flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height:84px;
	padding:10px 20px; 
	border-top:1px solid #e7e9ee;
}
.chat-list li:first-child {border-top:0}
.btn-like {
	width: 18px;
    height: 18px;
	background: url(../images/icon/icon_like_off.png) no-repeat center center;
}
.btn-like.on {	background: url(../images/icon/icon_like_on.png) no-repeat center center;}
.chat-list .list-info {display:flex; flex-direction: column;width:130px;}
.chat-list .list-info .name {font-size:14px;color:#666}
.chat-list .list-info .tit,
.chat-list .list-info .date {
	font-size:12px; 
	color:#999; 
	font-weight:300;


}
.chat-list .category {display:flex; width:90px}
.chat-list .category .count {color:#21b9bf;font-weight:300;font-size:12px;padding-left:10px}
.flag {
	height:20px;
	padding: 0 8px;
	background-color:#fff;
	font-size:12px;
	text-align: center;
	/* line-height:18px; */
	border-radius:4px
}
.flag.type1 {
	border:1px solid #21b9bf;
	color:#21b9bf
}
.flag.type2 {
	border:1px solid #d3425e;
	color:#d3425e
}

/* .chat-list li.fixed {background-color:gold}
.btn-chat-fixed {color:#000} */
.fix-noti {position:relative}
.btn-fixed {
	position:absolute;
	
	top:-25px;
	width: 18px;
    height: 18px;
	background: url(../images/icon/icon_pin_off.png) no-repeat center;
}
.btn-fixed.on {	background: url(../images/icon/icon_pin_on.png) no-repeat center;}
.fix-noti .count-noti {
	height:20px;
	padding:0 5px;
	background-color:#e53a4c;
	color:#fff;
	line-height: 20px;
	font-weight: 500;
	border-radius: 50%;
}

.chat-util {
	width:483px;
	overflow: hidden;
	
}
.chat-util .bottom{padding:0 20px;}

.history-list {
	overflow-y: auto;
	height: 72px;
	padding:8px 10px;
	background-color:#fff;
	/* border:1px solid #e7e9ee; */
}
.history-list li {line-height:20px}

.send-list {height:265px;}
.send-list li {
	display:flex; 
	justify-content: space-between;
	align-items: center;
	height:43px;
}
.send-list li .btn-like {width:18px}
.send-list li .category {width:45px}
.send-list li .cont {max-width:70%}

@media (max-height: 849px) {
	.contents{
		min-height: 800px;
	}
	.content.flex {		
		min-height: 720px;
	}
	.chat-list {
		height:596px
	}
	
}