@charset "utf-8";
@import 'common.css'; 
@import 'jquery.mCustomScrollbar.css'; 

/* ==============
	레이아웃
============== */
.wrapper {
	position: relative;
	max-height:1080px;
	width:1280px; 	
}

.header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:fixed; 
	top:0; 
	left:0; 
	right:0;
	width:100%;
	max-width:1280px; 
	height:78px; 
	padding-left:20px;
	background-color:#455896;  
	z-index:20;
}
.header .logo {height: 24px;}
.header > div {
	display:flex;
	align-items: center;
}
.header .btn-toggle-area {
	display:flex;
	justify-content: space-between;
	align-items: center;
	width:162px;
	height:29px;
	margin:0 24px 0 30px;
	border:1px solid #c8cde0;
	border-radius: 20px;
}
.header .btn-toggle-area .btn-msg {
	height:29px;
	flex:1;
	color:#dadeea;
	border-radius: 20px;
	font-size:14px;
	font-weight:300;
}
.header .btn-toggle-area .btn-msg.on {
	color:#162966;
	background-color:#f8eb58;
	box-shadow: -1px 4px 2px rgba(56, 71, 122, .9);
	font-weight:500;
	transition: all .3s;
}
.header .waiting {
	position:relative;
	padding-left:20px;
	color:#b5bcd5;
	font-size:14px;
	font-weight: 300;
}
.header .waiting:before {
	content: '';
	display:block;
	width:1px;
	height:14px;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-7px;
	background-color:#ccc;
}
.header .waiting em {
	padding-left:13px;
	color:#f1f2f6;
	font-weight:500;
	letter-spacing: 1px;
}

.header .user-txt {
	color:#fff;
	opacity: .9;
	font-weight:300;
	letter-spacing: 1px;
}
.btn-logout {
	height:31px;
	padding:0 13px;
	margin:0 24px 0 20px;
	border:1px solid #b5bcd5;
	border-radius: 20px;
	color:#e7e9f1;
	font-size:12px;
}
.btn-logout:after {
	content:'';
	display:inline-block;
	width:14px;
	height:16px;
	margin-left:5px;
	background: url(../images/icon/icon_logout.png) no-repeat center;
	vertical-align: middle;
}

.btn-gnb {
	position:relative;
	width:80px;
	height:78px;
	background-color:#344782;
}
.btn-gnb:before {
	content:'';
	display:block;
	width:34px;
	height:25px;
	background: url(../images/layout/icon_gnb.png) no-repeat center;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-12.5px;
	margin-left:-17px;
}
.btn-gnb.on:before {
	width:26px;
	height:26px;
	background: url(../images/layout/icon_gnb_close.png) no-repeat center;
	margin-top:-13px;
	margin-left:-13px;
}
.gnb-list{
	display: none;
	position: absolute;
	right:0;
    top: 78px;
	width:282px;
    padding: 60px 40px;
    background-color: #344783;
	z-index:30;
}

.gnb-list .depth1 li,
.gnb-list .depth1 li a {
	font-size:20px;
	color:#fff;
	font-weight: 300;
}
.gnb-list .depth1 > li + li {margin-top:65px}
.gnb-list .depth1 > li:before {
	content: '';
	display:block;
	margin-bottom:15px;
}
.gnb-list .depth1 > li:nth-child(1):before {
	width:27px;
	height:23px;
	background: url(../images/layout/icon_gnb1.png) no-repeat center;
}
.gnb-list .depth1 > li:nth-child(2):before {
	width:26px;
	height:26px;
	background: url(../images/layout/icon_gnb2.png) no-repeat center;
}
.gnb-list .depth2 {margin:12px 0 0 10px}
.gnb-list .depth2 li a {
	position:relative;
	padding-left:12px;
	font-size:15px;
	color:#fff;
}
.gnb-list .depth2 li a:before {
	content:'';
	display: block;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-1px;
	width: 3px;
	height:3px;
	background-color:#fff;
	border-radius: 50%;
}
.gnb-list .depth2 li {margin-top:5px}
.container {
	min-height:850px;
	padding-top:78px;
}
.contents {
	position:relative;
	width:1280px; 
	/* min-height: calc(100vh - 171px);  */
	min-height: calc(100vh - 78px); /*fixed-title이 있는경우*/
	padding:57px 0 36px; 
}
.content.flex {
	display:flex;
	align-items: stretch;	
}
.content.flex.center {justify-content: center;}

/*fixed-title이 없는경우*/
.no-fixed-tit .contents {padding-top:0}
.no-fixed-tit .content {min-height:calc(100vh - 114px);}

.fixed-title {
	position:fixed;
	left:0; 
	top:78px; 
	width:100%;
	max-width:1280px;  
	background-color:#dde5ff;
	z-index: 10
}
.fixed-title .tit-area {
	display:flex; 
	justify-content: space-between;
	align-items:center; 
	height:57px;
	line-height:57px;
	padding:0 20px;	
}
.fixed-title .tit-area h2 {
	color:#465e6f;
	font-weight:700;
}
.footer {
	position:absolute;
	left:0;
	bottom:0; 
	width:1280px; 
	height:36px; 
	background-color:#c0c5cb; 
	text-align:center
}
.footer p {
	font-size:12px;
	color:#000;
	font-weight:300;
	line-height:36px;
}
/* ==============
	공통
============== */

/*폰트*/
.f-white {color:#fff !important}
.f-red {color:#e53a4c !important}
.f-gray {color:#999 !important}
.f-black {color:#000 !important}

.f-mid {font-weight:500 !important}
.f-light {font-weight:300 !important}
.f-bold {font-weight:700 !important}

.underline {text-decoration: underline;}

/* 정렬 */
.align-center {text-align: center !important;}

.flex-area {display:flex;align-items: center;}
.flex-area.both {justify-content: space-between; }
.flex-area.center {justify-content: center; }

/*인라인/블록*/
.block {display: block;}

/* 말줄임 */
.ellipsis {
	display: block; 
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;  
}

/*너비*/
.w90 {width:90px !important;}
.w120 {width:120px !important;}
.w148 {width:148px !important;}
.w160 {width:160px !important;}
.w467 {width:467px !important;}
.w782 {width:782px !important;}


/* 버튼 */
.btn-round {
	display:inline-block;	
	padding:0 15px;
	color:#fff;	
	text-align:center;	
	border-radius: 20px;
}
.bg-green {background-color:#21b9bf; color:#fff}
.bg-navy {background-color:#455896; color:#fff;}
.bg-gray {background-color:#f5f6f8; color:#455896}

 /* border버튼 */
.btn-border{
	display:inline-block;	
	padding:0 15px;
	border:1px solid #e9ebef;
	background-color:#fff;
	color:#222a3b;	
	text-align:center;	
	border-radius: 20px;
	vertical-align: top;
}
.btn-border.btn-sm {padding:0 8px;}
.btn-round-square {
	display:inline-block;
    height: 33px;
    border: 1px solid #e9eaef;
	background-color:#fff;
    /* color: #d3452e; */
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
}
.btn-sm {
	min-width:48px; 
	padding:0 12px;
	height:22px;
	line-height:20px;
	font-size:12px;
	font-weight:300;
}
.btn-mid {
	/* min-width:48px;  */
	height:42px;
	line-height:40px;
	font-size:14px;
	font-weight:300;
}
.btn-mid2 {
	height:36px;
	/* line-height:36px; */
	font-size:14px;
	font-weight:300;
}
.btn-lg {
	/* min-width:48px;  */
	height:48px;
	line-height:46px;
	font-size:16px;
	font-weight:300;
	border-radius: 25px;
}

 /* 아이콘 버튼 */
 .btn-qustion {
	width:20px;
	height:20px;
	background: url(../images/icon/icon_qustion.png) no-repeat center;
 }
/* .btn-mid {
	min-width:55px;
	height:32px;
	line-height:30px;
	font-size:13px;
	font-weight:400;
}

.btn-lg {
	min-width:190px;
	height:52px;
	line-height:50px;
	font-size:16px;
	font-weight:700;
	border-radius:6px;
} */

.btn-round + .btn-round {margin-left:6px}
/* ==============
	리스트 스타일
============== */
.list-style1 li {
	position:relative; 
	padding-left:12px;
	color:#666;
	line-height: 18px;;
}
.list-style1 li:before {
	content: '-';
	display: block;
	position:absolute;
	left:0;
	top:0;
	color:#666
}

/* ==============
	폼요소
============== */
input[type=radio][class^=styled],
input[type=checkbox][class^=styled] {
    position:relative;
    z-index:5;
    opacity:0;
}
.chkbox {
    display:inline-block;
    position:relative;
	top: -1px;
    box-sizing:border-box;
    font-size:0;
    vertical-align:middle;
}

.chkbox .chk {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
    border:1px solid #c7c7c7;
	background-color:#fff;
	border-radius: 2px;
}

/* 라디오 */
.chkbox input[type=radio] {
    width:20px;
    height:20px;
    margin:0;
    padding:0;
}
.chkbox input[type=radio] + .chk {border-radius:50%; display: inline-block;}
.chkbox input[type=radio] + .chk:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    height:100%;
    border-radius:50%;
    background-color:#455896;
    opacity:0;
}
.chkbox input[type=radio]:checked + .chk {border:2px solid#455896}
.chkbox input[type=radio]:checked + .chk:before {
    width:10px;
    height:10px;
    opacity:1;
    /* transition:all .3s; */
}
.chkbox input[type=radio][disabled] + .chk {background-color:#f5f5f5; border-color:#c7c7c7}
.chkbox input[type=radio][disabled] + .chk:before {background-color:#ddd;}

/* 체크박스 */
.chkbox input[type=checkbox] {
    width:20px;
    height:20px;
    margin:0;
    padding:0;
}
.chkbox input[type=checkbox] + .chk:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    width:40%;
    height:70%;
    margin-top:-7%;
    box-sizing:border-box;
    border-right:2px solid #455896;
    border-bottom:2px solid #455896;
    opacity:0;
}
.chkbox input[type=checkbox]:checked + .chk {border-color:#455896}
.chkbox input[type=checkbox]:checked + .chk:before {
    transform:translate(-50%,-50%) rotate(45deg);
    opacity:1;
    /* transition:all .3s; */
}
.chkbox input[type=checkbox][disabled] + .chk {background-color:#f5f5f5;}
.chkbox input[type=checkbox][disabled] + .chk:before {border-color:#ddd;}


.chkbox input[type=checkbox].styled2 {
    width:22px;
    height:22px;
    margin:0;
    padding:0;
}
.chkbox input[type=checkbox].styled2 + .chk {
	border:2px solid #acacac;
	border-radius:50%;
}
.chkbox input[type=checkbox].styled2 + .chk:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
	width:35%;
    height:62%;
    margin-top:-4%;
    box-sizing:border-box;
    border-right:2px solid #acacac;
    border-bottom:2px solid #acacac;
    opacity:1;
}
.chkbox input[type=checkbox].styled2:checked + .chk{
	background-color:#009591;
	border-color:#009591;
}
.chkbox input[type=checkbox].styled2:checked + .chk:before {  
    opacity:1;
	border-color:#fff;
  
}
.chkbox input[type=checkbox].styled2[disabled] + .chk {background-color:#f5f5f5;}
.chkbox input[type=checkbox].styled2[disabled] + .chk:before {border-color:#ddd;}

.select-box {
	display:inline-block;
}
.select-box select.styled{
	height: 36px;
	min-width: 120px;
    padding:0 30px 0 10px;
	border: 1px solid #e7e9ee;
	border-radius:8px;
    background: #fff url(../images/icon/icon_16_down.png) no-repeat right center;
    font-size: 13px;
    line-height: 32px;
    outline: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	box-sizing: border-box;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color:#777
}	


.select-box.wide {display:block;}
.select-box.wide select{width:100%;}

/* 인풋 */
.input-text {display: inline-block;}
.input-text input,
.input-text textarea{
	width: 100%;
	height:32px;
	padding:0 10px;
	/* line-height:30px; */
	border:1px solid #e7e9ee;
	font-size:13px;
}
.input-text input {border-radius:5px; color:#777}
.input-text.wide input {width: 100%;}

/*검색영역*/
 .search-area .search-box {position:relative;}
 .search-area .search-box input {
	width:100%;
	height:35px;
	padding:0 46px 0 16px;
	border:1px solid #dddddf;
	color:#000;
	outline:0;
	/* transition:all .2s; */
}
 .search-area .search-box .btn-search {
	position:absolute;
	top:0;
	right:0;
	width:46px;	
	height: 100%;
	background-image:url(../images/icon//ico_srch.png);
	background-repeat:no-repeat;
	background-position:10px 50%;
	font-size:0;
	text-indent:-99999px;
	line-height:0;
}
/* focus */
 /* .search-area .search-box input:focus {
	width:400px;
	border-color:#00a6d6;
	transition-timing-function:linear;
} */
 /* .search-area .search-box input:focus + .btn-search {background-image:url(../images/icon/ico_srch_on.png);} */

/* ==============
	테이블
============== */
[class^=board-] .input-text input[type="text"],
[class^=board-] .input-text input[type="password"],
[class^=board-] .input-text input[type="number"] {
	width:100%;
}

/* 리스트 테이블 */
.board-list {
	border:1px solid #dbdbdb;
	border-left:0;
}
.board-list table {
	width:100%;
}
.board-list table thead th {
	height:36px;
	border-bottom:1px solid #dbdbdb;
	background-color:#f5f6f8;
	font-size:13px;
	color:#000;
}
.board-list table tbody th {
	border-top:1px solid #f2f2f2;
}
.board-list table td{
	padding:10px 0;
	color:#666;
	font-size:13px;
	text-align:center;
	border-top:1px solid #f2f2f2;
	border-left:1px solid #f2f2f2;
	word-wrap:break-word;
}
.board-list table td.left{
	text-align: left;
	padding: 10px 12px;	
	line-height: 18px;
}
.board-list thead th:first-child,
.board-list table td:first-child:not(.left) {border-left:1px solid #dbdbdb}
.board-list table tbody td {border-top: 1px solid #f2f2f2;}

.board-list2 {
	
}
.board-list2 table {
	width:100%;
}
.board-list2 table thead th {
	height:42px;
	background-color:#ebefff;
	border-left:1px solid #e7e9ee;
	font-size:14px;
	color:#000;
	font-weight:300;
}
.board-list2 table thead tr:first-child th:first-child {border-top-left-radius: 8px; }
.board-list2 table thead tr:first-child th:first-child {border-left:0}
.board-list2 table thead tr:first-child th:last-child {border-top-right-radius: 8px;}
.board-list2 table thead tr:nth-child(2) th {border-top:1px solid #e7e9ee}
.board-list2 table td{
	padding:10px 0;
	color:#000;
	font-size:14px;
	text-align:center;
	border-top:1px solid #e7e9ee;
	border-left:1px solid #e7e9ee;
	background-color:#fff;
	word-wrap:break-word;
	font-weight:300;
}
.board-list2 table td.left{
	text-align: left;
	padding: 10px 20px;	
	line-height: 18px;
}
.board-list2 tr td:first-child {border-left:0}
.board-list2 tr td:last-child {border-right:0}
.board-list2 tr:last-child td:first-child {border-bottom-left-radius: 8px;}
.board-list2 tr:last-child td:last-child {border-bottom-right-radius: 8px;}
.board-list2.multi:not(.type2) tr:nth-child(odd) td {border-right:1px solid #e7e9ee}
.board-list2.multi:not(.type2) tr:nth-child(odd) td:last-child {border-right:0}
.board-list2.multi tr.last td:first-child{border-bottom-left-radius:8px;} 
/* .board-list2.multi tr.last + td:first-child {border-bottom-left-radius:0} */
.board-list2 tr.last + tr td:first-child {border-bottom-left-radius:0}
.board-list2 table td .link {text-decoration: underline;}
.board-list2 table td .check {
	display:inline-block;
	width:15px;
	height:15px;
	font-size:0;
	border-radius:50%;
	background-color:#455896;
	vertical-align: middle;
}

/* 뷰 */
.board-write {border:1px solid #dbdbdb;}
.board-write th,
.board-write td {
	height:48px;
	border-top:1px solid #dbdbdb;
	box-sizing:border-box;
	color:#666;
	font-size: 13px;
}

.board-write tr:first-child th,
.board-write tr:first-child td {border-top:0;} 
.board-write th {
	padding:15px 20px;
	background-color:#f5f6f8;	
	font-weight:500;
	text-align:left;
}
.board-write td {
	padding: 7px 15px;  
	background-color:#fff;
	word-break: break-all;
}
.board-write.sm th,
.board-write.sm td {
	height:40px;
	padding:0 0 0  12px;
	font-weight:300;
}
.board-write th.center {text-align:center; padding-left:0}
.board-write td .text-area {min-height:200px}

.board-write2 {
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
}

.board-write2 > table > tbody > tr > th,
.board-write2 > table > tbody > tr > td {
	/* height:36px; */
	padding:5px 12px;
	font-weight:300;
	box-sizing:border-box;
	color:#666;
	font-size: 13px;
}

.board-write2 tr:first-child th,
.board-write2 tr:first-child td { padding-top:15px}
.board-write2 tr:last-child th,
.board-write2 tr:last-child td { padding-bottom:15px} 
.board-write2 > table > tbody > tr > th {

	border-right:1px solid #e1e0ea;
	background-color:#f5f7ff;	
	color:#777;
	font-weight:300;
	text-align:left;
}
.board-write2 > table > tbody >  td {
	background-color:#fff;
	word-break: break-all;
}
.board-write2 td .input-text input {height:26px;}
.board-write2 td .input-text +  .form-guide {
	display:inline-block;
	margin-left:10px
}
.board-write2 td .form-guide {
	font-size:12px;
	color:#ea6170;
	font-weight:300
}

.board-write3 {}

.board-write3 th,
.board-write3 td {
	height:48px;	
	box-sizing:border-box;
	color:#000;
	font-size:14px;
	border-left:1px solid #e7e9ee;
}


.board-write3 th {
	padding:15px;
	background-color:#ebefff;	

	border-top:1px solid #e7e9ee; 
	font-weight:300;
	text-align:center;
}
.board-write3 tr:first-child th {border-top:0; border-right:1px solid #e7e9ee; border-left:0}
.board-write3 tr:first-child th:last-child {border-right:0}
 .board-write3 tr th.row{border-left:0}  
.board-write3 td {
	padding: 7px 20px;  
	border-top:1px solid #e7e9ee;
	background-color:#fff;
	word-break: break-all;
	text-align: center;
}

.board-write3 .thead th:first-child {border-left:0}
.board-write3 td.left {text-align: left;}
.board-write3 tr:first-child td {border-top:0}
.board-write3 .thead + tr > td {border-top:0}

.board-write3 tr:first-child th:first-child {border-bottom-left-radius: 8px; border-top-left-radius: 8px;}
.board-write3 tr:first-child *:last-child {border-top-right-radius: 8px;}



.board-write3 tr:last-child td:last-child {border-bottom-right-radius: 8px;}
/* .board-write3 tr:last-child th:first-child {border-bottom-left-radius: 8px;} */
.board-write3.multi tr:first-child th:first-child {border-bottom-left-radius: 0;}
.board-write3.multi.type2 tr:last-child th:first-child {border-bottom-left-radius: 8px;}
.board-write3.multi.type2 tr:not(:nth-child(1)) th:first-child {border-left:0}
.board-write3.multi .multi-row th:first-child{border-bottom-left-radius: 8px;}
/*
.essential {position:relative;}
.essential:before {
	content: '';
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    left: -8px;
	top: 9px;	
	border-radius: 50%;
    background-color: #009591;
}


/*페이징*/
.pagenation {
	position:relative;
	margin-top:20px;
	font-size:0;
	text-align:center;
}
.pagenation .page {
	display:inline-block;	
	padding: 0 8px;
	color:#b4b5c0;
	font-size:13px;
	vertical-align:middle;
	line-height:24px;
	font-weight: 400;
}
/* .pagenation .page:hover {border-color:#666;} */
.pagenation [class^=btn-] {
	position:relative;
	width:22px;
	height:22px;
	padding: 0;
	font-size:0;
	text-indent:-99999px;
	line-height:0;	
}
.pagenation [class^=btn-].disabled {opacity: .5;}
.pagenation [class^=btn-]:before {
	content:'';
	position:absolute;
	top:50%;
	left:50%;
	width:20px;
	height:20px;
	margin:-10px 0 0 -10px;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.pagenation .btn-prev {margin-left:0}
.pagenation .btn-next {margin-right:0}
.pagenation .btn-first:before {background-image:url(../images/icon/icon_28_firstpage.png);}
.pagenation .btn-prev:before {background-image:url(../images/icon/icon_28_older.png);}
.pagenation .btn-next:before {
	transform:rotate(180deg);
	background-image:url(../images/icon/icon_28_older.png);
}
.pagenation .btn-last:before {
	transform:rotate(180deg);
	background-image:url(../images/icon/icon_28_firstpage.png);
}
.pagenation .page.now {	
	position:relative;
	color:#455896;
	font-weight:500;
}




/* ==============
	탭
============== */
.tab-lst {
	display:flex;
	position:relative;
}

.tab-lst .tab-item {
	flex:1;
	height:40px;
	box-sizing:border-box;
	font-weight:500;
	text-align:center;
	outline:0;
}

.tab-lst .tab-item + .tab-item {margin-left:8px;}

.tab-lst .tab-item > .txt {
	display:block;
	position:relative;
	border:1px solid #e7e9ee;
	background-color:#fff;
	line-height:38px;
	font-size:14px;
	color:#666;
	font-weight:300;
	border-radius: 20px;
}
.tab-lst .tab-item.on > .txt {
	background-color:#455896;
	color:#fff;
	font-weight:500;
	border-color:#455896
	
} 
.tab-lst .tab-item .btn > .txt {line-height: 38px;}

/* on */
.tab-lst .tab-item.on,
.tab-lst .tab-item.on > .txt {transition:all .2s;}
.tab-lst .tab-item.on {z-index:5;}
.tab-cont {position:relative; display:none;}
.tab-cont.on {display:block;}

.tab-lst2 {
	display:flex;
	position:relative;
	background-color:#455896;
	padding:0 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	justify-content: space-between;
}

.tab-lst2 .tab-item {
	height:42px;
	box-sizing:border-box;
	font-weight:500;
	text-align:center;
	outline:0;
}


.tab-lst2 .tab-item > .txt {
	display:block;
	position:relative;	
	line-height:42px;
	font-size:13px;
	color:#bec7e3;
	font-weight:300;
	border-radius: 20px;
}
.tab-lst2 .tab-item.on > .txt {	
	color:#fff;
	font-weight:500;	
} 

.tab-lst3 {
	display:flex;
	position:relative;		
	justify-content: flex-start;
	/* border-bottom:3px solid #d7dadc; */
}
.tab-lst3:before {
	content: '';
	display:block;
	height:3px;
	background-color:#d7dadc;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
}

.tab-lst3 .tab-item {
	height:63px;
	line-height:63px;
	padding:0 15px;
	box-sizing:border-box;
	text-align:center;
	outline:0;

}
.tab-lst3 .tab-item + .tab-item {margin-left:30px}

.tab-lst3 .tab-item > .txt {
	display:block;
	position:relative;	
	/* line-height:42px; */
	font-size:16px;
	color:#83898f;
	font-weight:300;
	border-radius: 20px;
}
.tab-lst3 .tab-item.on {border-bottom:3px solid #455896; z-index: 3;}
.tab-lst3 .tab-item.on > .txt {	
	color:#455896;
	font-weight:500;	
} 

.tab-lst4 {
	display:flex;
	position:relative;
}

.tab-lst4 .tab-item {	
	min-width:90px;
	height:36px;
	line-height:36px;
	box-sizing:border-box;
	font-weight:500;
	text-align:center;
	outline:0;
}
.tab-lst4 .tab-item + .tab-item {margin-left:8px;}

.tab-lst4 .tab-item > .txt {
	display:block;
	position:relative;
	border:1px solid #e7e9ee;
	background-color:#fff;
	line-height:34px;
	font-size:14px;
	color:#999;
	font-weight:300;
	border-radius: 20px;
}

.tab-lst4 .tab-item.on > .txt {
	background-color:#455896;
	color:#fff;
	font-weight:500;
	border-color:#455896
	
} 
.tab-lst4 .tab-item .btn > .txt {line-height: 38px;}


/* ==============
	datepicker
============== */

.input-text.cal {position:relative; display:inline-block;padding-right:30px}
.input-text.cal input + img {position:absolute; top:50%; right:0; margin-top:-10px;}

.ui-datepicker {
	display: none;
	width:240px;
	height:280px;	
	padding:0 12px 12px 12px;
	background-color:#fff;	
	border: solid 1px #dbdbdb;
	border-bottom:0;
}

.ui-datepicker-header .ui-corner-all {
	position:absolute;
	top:3px;
	font-size:0;
	width:35px;
	height:35px;
}
.ui-datepicker-header .ui-datepicker-prev {
	left:0;
	background:url(../images/icon/arrow_calendar_older.png) no-repeat 0 0;

}
.ui-datepicker-header .ui-datepicker-next {
	right:0;
	background:url(../images/icon/arrow_calendar_older.png) no-repeat 0 0;
	transform: rotate(180deg);
}
.ui-datepicker-title {
	/* height:35px; */
	margin: 0 -12px;
	padding: 5px 0;
	border-bottom:1px solid #dbdbdb;
	font-size: 16px;
	text-align:center
}
.ui-datepicker-title > select  {
	height:32px; 
	padding: 0 30px 0 10px;
    background: #fff url(../images/icon/icon_16_down.png) no-repeat right center;
}
.ui-datepicker-title > select + select {margin-left:5px}
.ui-datepicker-title > span {
	display:inline-block;
	height: 35px;
	line-height: 35px;
}
.ui-datepicker-calendar thead th {height: 33px;}
.ui-datepicker-calendar thead span {	
	font-size:12px;
	color:#adb6bf;
	text-decoration: underline;
}
.ui-datepicker-calendar tbody td {text-align:center; height:30px; line-height: 30px;}
.ui-datepicker-calendar tbody td .ui-state-default {font-size:14px; font-weight:400}
.ui-datepicker-today {background-color: transparent;}
.ui-datepicker-current-day {background-color:#455896; } 
.ui-datepicker-current-day a {color:#fff}
/* .ui-datepicker-calendar tbody tr td:first-child a {color:#e22267} */
.ui-datepicker-current-day.ui-datepicker-today {background-color:transparent}
.ui-datepicker-current-day.ui-datepicker-today a {color:#000}
.calendar-area {display:flex; justify-content: space-between; align-items: center;}
.calendar-area.left {justify-content: flex-start;}
.calendar-area .divide {padding:0 10px}
.calendar-area .btn-cal {
	width:26px;
	height:26px;
	background: url(../images/icon/icon_20_date.png) no-repeat right center;
	margin-left:5px
}
.multi-cal-area {	
	position:relative;
	overflow: visible;
	/* width: 495px; */
	
}
.multi-cal-area .multi-cal-layer {
	display:none;
	background-color:#fff;
	position:absolute;
	left:12px;
	top:45px;
	width:480px;
	padding-bottom:43px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}
.multi-cal-area .multi-cal-layer.on {display:flex;}
.multi-cal-area .multi-cal-layer .btn-area{	
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	width:480px;
	text-align: right;
	padding: 8px 15px;
	border:solid 1px #dbdbdb;
	background-color:#fff;
}
.multi-cal-area .multi-cal-layer .btn-cal-close {
	position: relative;
    height: 26px;
    line-height: 24px;
    padding: 0 12px 0 28px;
    border: 1px solid #475a97;
    border-radius: 15px;
}
.multi-cal-area .multi-cal-layer .btn-cal-close span {
	color:#475a97; 
	font-size:12px; 
	line-height: 22px;
	vertical-align: top;
}

 .multi-cal-area .multi-cal-layer .btn-cal-close span:before,
 .multi-cal-area .multi-cal-layer .btn-cal-close span:after {
    content:'';
    position:absolute;
    top:50%;
    left:12px;
    width:12px;
    height:1px;
    background-color:#475a97;
}
.multi-cal-area .multi-cal-layer .btn-cal-close span:before {
    transform:translateY(-50%) rotate(45deg);
}
.multi-cal-area .multi-cal-layer .btn-cal-close span:after {
    transform:translateY(-50%) rotate(135deg);
}
.multi-cal-layer div + div .ui-datepicker {border-left:0}
.multi-cal-layer .ui-datepicker-header {position:relative;}
.multi-cal-layer th, 
.multi-cal-layer td {padding-top:0 !important}

.multi-cal-layer th, .multi-cal-layer td {padding-bottom:0 !important}

/* ==============
	레이어팝업
============== */
html.popOpen {overflow:hidden;}
.dimmed {
	position:fixed;
	left:0;
	right:0; 
	top:0; 
	bottom:0;
	background-color:rgba(0,0,0,.6); 
	width:1280px;
}
.layer-popup {
    display:none;
    overflow:auto;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:150;
    /* padding:50px 50px 0;     */
	z-index:200;
	width:1280px;
}
.layer-popup .popup {
    position:relative;
    /* width:450px; */
    margin:0 auto;
	padding-bottom:30px;
    box-sizing:border-box;
    background-color:#fff;
	border-radius:20px;
}
/* .layer-popup .popup.xs {width:280px;} */
.layer-popup .popup.sm {width:400px;}
/* .layer-popup .popup.sm .btn-area > .btn-mid {min-width:104px} */
.layer-popup .popup.mid {width:430px;}
.layer-popup .popup.lg {width:680px;}
.layer-popup .popup.xl {width:680px;}

.layer-popup .popup-header {
	min-height:58px;
	position:relative;
	padding:15px 20px;
}
.layer-popup .popup-header .title {
	display:inline-block;
	font-size: 18px;
	color:#000;
	font-weight: 500;
}
.layer-popup .popup-header .title + .tooltip-area {margin-left:5px;}
.layer-popup .popup-cont .tit-area p {font-size:16px; font-weight: 500;}
.layer-popup .btn-tooltip {margin-top:-9px}
.layer-popup .btn-close {
    position:absolute;
    top:50%;
    right:20px;
    width:25px;
    height:25px;
	margin-top:-13px;
    border:0;
    background-color:transparent;
    font-size:0;
    font-size:0;
    text-indent:-99999px;
    line-height:0;
    cursor:pointer;
}
.layer-popup .btn-close:before,
.layer-popup .btn-close:after {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:25px;
    height:1px;
    background-color:#475a97;
}
.layer-popup .btn-close:before {
    transform:translate(-50%,-50%) rotate(45deg);
}
.layer-popup .btn-close:after {
    transform:translate(-50%,-50%) rotate(135deg);
}
.layer-cont {position:relative}
.layer-cont .tit-area p {
	color:#000;
	font-weight:300;
	font-size:14px;
}
.layer-cont .cont-area {margin-top:15px;}
.cont-area + .tit-area {margin-top:25px}
.layer-popup .popup-cont {padding:36px 20px 30px 20px;}
.layer-popup .popup-cont.no-tit {padding-top:15px;}
.layer-popup .layer-cont.popup-cont {padding-bottom:0}
.layer-cont.popup-cont .tit-area {position:absolute; top:0; left:20px;right:20px;}
.layer-cont.popup-cont .tit-area p {font-size:20px; font-weight:300}
.layer-cont.popup-cont .tit-area .btn-area button {
	height:36px;
	padding:0 25px;
	font-weight:500;
	font-size:15px;
	line-height:34px;
}

.layer-cont.popup-cont .cont-area {
	max-height:500px;
	overflow-y:auto;
}

/* .layer-cont  .cont-area .board-write.sm th.alignT {vertical-align: top; padding-top:20px} */
.layer-cont  .cont-area .board-write.sm td {padding:12px}

.layer-popup .popup-cont .guide-txt {
	font-size:18px;
	color:#000;
	font-weight: 300;
}
.layer-popup .popup-cont .sub-txt {
	display:block;
	font-size: 16px;
	color:#757575;
	font-weight: 300;
}
.layer-popup .popup-cont .guide-txt + .sub-txt {padding-top:5px}
.layer-popup .popup-cont + .btn-area {
	display:flex;
	padding:0 30px;
}
.layer-popup .popup-cont + .btn-area.single {justify-content: center;}

.layer-popup .popup.sm .btn-area button {flex:1}
.layer-popup .popup-cont + .btn-area.single button {flex:0; min-width:162px;}
.layer-popup .popup.sm .btn-area button + button {margin-left: 10px;}



/* 팝업오픈 */
.layer-popup .popup {opacity:0;}
.layer-popup.open .popup {
    opacity:1;
    transition:transform .3s, opacity .3s;
}
/* ==============
	툴팁
============== */
.tooltip-area {display: inline-block;position:relative;}
.tooltip-layer {
	display:none;
	position:absolute;
	top: 28px;
	left:0;
	width:400px;
	padding:55px 20px 30px 20px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  	border: solid 1px #e7e9ee;
	background-color:#fff;
	/* font-size:13px;
	font-weight:400; */
	z-index:500;
	border-radius: 10px;
}

.tooltip-layer .btn-close {
    position:absolute;
    top:20px;
    right:20px;
    width:16px;
    height:16px;
    border:0;
    background-color:transparent;
    font-size:0;
    text-indent:-99999px;
    line-height:0;
    cursor:pointer;
}
.tooltip-layer .btn-close:before,
.tooltip-layer .btn-close:after {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:16px;
    height:1px;
    background-color:#475a97;
}
.tooltip-layer .btn-close:before {
    transform:translate(-50%,-50%) rotate(45deg);
}
.tooltip-layer .btn-close:after {
    transform:translate(-50%,-50%) rotate(135deg);
}

 

.no-data {
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	width:200px;
	height:40px;
	line-height:40px;
	padding:0 20px;
	text-align:center;
	font-size:16px;
	color:#fff;
	border-radius: 20px;
	background-color:rgba(0,0,0,.7);
}

/* ==========================================
	서브컨텐츠
========================================== */
/* 에러페이지 */
.error-area {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: calc(100vh - 114px);
}
.error-area .tit {
	padding:130px 0 40px;
	background: url(../images/icon/icon_error.png) no-repeat center top;
	font-size:20px;
	color:#2f4359;
	font-weight: 500;
	line-height:32px;
}
.error-area .sub-txt {
	font-size:16px;
	color:#757575;
	font-weight: 300;
	line-height: 24px;
}
.error-area .sub-txt + .sub-txt {margin-top:30px}
.error-area .btn-area {margin-top:50px}
.error-area .btn-area button {min-width:200px}

/* 금융소비자보호 일일 자가진단 팝업 */
.daily-check {}
.daily-check .scroll-area {
	margin-top:20px;
	padding:30px 20px;
	max-height:215px;
	border: 1px solid #dbdbdb;
	line-height:20px;
	font-size:14px;
	color:#777;
}
.daily-check .user-info {
	margin-top:30px;
	text-align: right;
	font-size:14px;
}


/* 상담관리 > 개인상담 */
.content.flex .box {
	/* flex:1;  */
	position:relative
}

.main-chat .content .top {
	height:46px;
	padding:0 20px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.main-chat .content .top .tit { 
	font-size:16px; 
	font-weight:500
}
.main-chat .chat-area {width:480px}
.main-chat .chat-area .no-data {top: calc(50% - 56px);}
.main-chat .chat-area .top {justify-content: flex-start;}
.main-chat .chat-area .top .customer-name {
	padding-left:10px;
	font-size:14px;
	font-weight:300;
	color:#000;
}
.main-chat .chat-area .top .customer-name .name {color:#455896; font-weight:500}
.main-chat .chat-area .center {
	position: absolute;
    left: 0;
    top: 46px;
    bottom:73px;
    width: 100%;
}
.main-chat .chat-area .center .search-area {
	position:absolute;
	left:0;
	right:0;
	top:0;
}
.main-chat .chat-area .center .search-box {
	width:100%;
	border-top:1px solid #dadce4;
	border-bottom:1px solid #a1b0bd;	
	background-color:#f3f4f5;
}
.main-chat .chat-area .center .search-box input {
	border:0; 
	height:45px; 
	background-color:#c9dcec;
	font-weight:300;
}
.main-chat .chat-area .center .search-box input::placeholder {color:#646e76}
.main-chat .chat-area .bottom {
	position:absolute; 
	left:0; 
	right:0;
	bottom:0
}
.main-chat .chat-area .bottom .btn-area {padding: 0 20px 10px 20px}

.chat-wrap {
	display: flex;  
	flex-direction: column; 
	align-items: stretch; 
	height: 100%;
	padding-top:47px;
}
.chat-cont {
	position:relative;
	background-color:#c9dcec;
	flex:1; 
	/*overflow-y: hidden;*/
	overflow-y:auto;
	padding:5px 20px 30px 20px;

}

.chat-cont .date {
	position:relative;
	padding:15px 0;
	text-align:center;
}
.chat-cont .date > span {
	display:inline-block;
	position:relative;
	height:21px;
	line-height:19px;
	padding: 0 15px;
	font-size:12px;
	color:#465e6f; 
	background-color:#afc3d3;
	font-weight:500;
	border-radius:20px;
	
}
.chat-cont .system-msg {text-align:center}
.chat-cont .system-msg p {
	display:block;
	font-size:12px;
	color:#666;
	font-weight:300;
	line-height:15px;
}
.chat-cont .system-msg p > .tit {display:block;font-weight:400}
.chat-cont .system-msg .btn-border {margin-top:5px}
.chat-cont .chat-item-list {
	display:flex;
	flex-direction: column;
	margin-top:30px; 
}
.chat-cont .chat-item {
	display:flex;
	flex-direction: column;
}
.chat-cont .chat-item mark {background-color:#000; color:#fff;}
.chat-cont .chat-item + .chat-item {margin-top:20px}
.chat-cont .chat-item.right {align-items: flex-end;}
.chat-cont .chat-item.right + .chat-item.right,
.chat-cont .chat-item.left + .chat-item.left {margin-top:8px;}
.chat-cont .chat-item.right .chat-name {text-align:right;}
.chat-cont .chat-item.right .chat-txt {flex-flow: row-reverse;}
.chat-cont .chat-item.left {align-items: flex-start;}
.chat-cont .chat-item .chat-name {padding-bottom:5px;line-height:15px;}
.chat-cont .chat-item .chat-name > span {
	display:block;
	font-size:12px;
	color:#666
}
.chat-cont .chat-item .chat-txt {
	display:flex; 
	align-items:flex-end;
	width:100%;
}
.chat-cont .chat-item .chat-txt .time {
	font-size:12px; 
	color:#999; 
	font-weight:300
}
.chat-cont .chat-item.right .chat-txt .time {padding-right:8px}
.chat-cont .chat-item.left .chat-txt .time {padding-left:8px} 

.chat-cont .chat-item .chat-txt .txt {
	max-width:80%;
	padding:12px;
	background-color:#fff;
	border:1px solid #e7e9ee;
	color:#666;
	font-size:14px;
	font-weight: 300;
	line-height:18px;
	border-radius:8px;
}
.chat-cont .chat-item.right .chat-txt .txt {
	background-color:#f8eb58;
	color:#000;
	border-color:#f8eb58;
}
.chat-cont .chat-item-list + .system-msg {margin:15px 0}
.search-navi{
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:absolute;	
	width:463px;
	bottom:135px;
	padding:8px 20px;
	background-color:rgba(0, 0, 0, .5);
}
.search-navi .btn-close {
	position:relative;
	height:30px;
	line-height:28px;
	padding: 0 12px 0 34px;
	border:1px solid #dcdedf;
	border-radius: 15px;
}
.search-navi .btn-close span {
	color:#e8e9ec; 
	font-size:12px; 
	line-height: 26px;
	vertical-align: top;
}

 .search-navi .btn-close span:before,
 .search-navi .btn-close span:after {
    content:'';
    position:absolute;
    top:50%;
    left:12px;
    width:12px;
    height:1px;
    background-color:#f9f9fb;
}
.search-navi .btn-close span:before {
    transform:translateY(-50%) rotate(45deg);
}
.search-navi .btn-close span:after {
    transform:translateY(-50%) rotate(135deg);
}
.search-navi  .btn-arrow button + button {margin-left:10px}
.search-navi  .btn-arrow button:disabled {
	opacity: .3;   
	cursor: not-allowed;
	pointer-events: none;
}
.search-navi  .btn-arrow .btn-next,
.search-navi  .btn-arrow .btn-prev { 
	width:30px;
	height:30px;
   background:  url(../images/icon/icon_search_arrow.png) no-repeat 0 0;
}
.search-navi  .btn-arrow .btn-next {transform: rotate(180deg);}
.chat-box {
	overflow:hidden;
	width:100% !important;
	padding:20px;
	background-color:#fff;
	display:flex; 
	align-items: center;	
}
.chat-box .reHeight{	
	flex:1;
	min-height:95px;
	padding: 0 25px 0 0;
	max-height:400px;
	resize:none; 
	overflow:hidden; 
	outline:none;
	margin: 0 5px 0 0;
	border:none;
	background:transparent;
	box-shadow: none;
	line-height: 19px;	
}
.chat-box .btn-send {
	width:80px;
	height:80px;	
	color:#000;	
	background-color:#f8eb58;
	border:0
}
.chat-area .btn-chat-close {
	width:100%;		
	color:#d3452e;	
	background-color: #f3f4f5;
	border:0
} 
.main-chat .chat-area .bottom .warning-txt{
	height:30px;
	width:100%; 
	background-color:#ea6170; 
	color:#fff; 
	text-align:center; 
	font-size:12px; 
	line-height:30px;
	font-weight:300;
}

.chat-list-area {
	width:384px;
	border-left:2px solid #e7e9ee;
	border-right:2px solid #e7e9ee;
	/* overflow:hidden; */
}
.chat-list-area .top .flex-area .btn-border {
	margin:1px 0 0 10px;
	color:#455896;
}
.chat-list-area .search-area {
	display:flex;
	height:45px;
	border-top: 1px solid #dadce4;
    border-bottom: 1px solid #dadce4;
}
.chat-list-area .search-area .search-box {width:calc(100% - 110px)}
.chat-list-area .search-area .search-box input {height:43px; line-height:43px; border:0}
.chat-list-area .search-area .search-box + .btn-area {
	display:flex;
	align-items: center;
	justify-content: flex-start;
	width:110px;
}
.chat-list-area .search-area .tooltip-area > button {
	width:42px;
	height:22px; 
	padding:0
}
.chat-list-area .search-area .btn-area .btn-detail {	
	margin-right:4px;
	color:#455896;
}
.chat-list-area .search-area .btn-area .btn-detail.on {
	background-color:#455896;
	color: #fff;
}
.chat-list-area .search-area .btn-area .btn-order {
	height:22px;
    background: #f5f6f8 url(../images/icon/icon_order.png) no-repeat center center;
}
.chat-list-area .search-area .btn-area .btn-order.on {
	background: #455896 url(../images/icon/icon_order_on.png) no-repeat center center;
	color:#fff;
}
.check-list {
	display:flex;
	flex-wrap: wrap;
	/* margin-left:-5px; */
	margin-top:-10px;
}
.check-list li {margin:10px 10px 0 0;}
.check-list li.block {width:100%}
.check-list .chkbox {opacity: 0;}
.check-list input[type="checkbox"] {
	opacity: 0;
	appearance: none;
	position: absolute;
    /* left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0 */
}
.check-list input[type="checkbox"]:checked + label {color:#fff;}
.check-list input[type="checkbox"]:checked + .type1{background-color:#423cbd}
.check-list input[type="checkbox"]:checked + .type2{background-color:#d3425e}
.check-list input[type="checkbox"]:checked + .type3{background-color:#21b9bf}
.check-list input[type="checkbox"]:checked + .type4{background-color:#a35aef}
.check-list input[type="checkbox"]:checked + .type5{background-color:#999}
.check-list input[type="checkbox"]:checked + .type6{background-color:#344783}

.chat-list-area .tab-lst {padding:9px 20px 20px 20px}
.chat-list-area .tab-cont{overflow:hidden}
.chat-list {height:calc(100vh - 331px)}
.chat-list li {
	display:flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height:84px;
	margin-top:-1px;
	padding:10px 20px; 
	border-top:1px solid #e7e9ee;
	border-bottom:1px solid #e7e9ee;
	background-color:#fff;
}
.chat-list li.fix:nth-child(-n+3){position:sticky; z-index:5}
.chat-list li.fix:nth-child(1) {top:-1px;}
.chat-list li.fix:nth-child(2) {top:82px;}
.chat-list li.fix:nth-child(3) {top:165px;}
.chat-list li:first-child {border-top:0}
.chat-list li.now {background-color:#c9dcec}

.btn-like {
	width: 18px;
    height: 18px;
	background: url(../images/icon/icon_like_off.png) no-repeat center center;
}
.btn-like.on {	background: url(../images/icon/icon_like_on.png) no-repeat center center;}
.chat-list .list-info {
	display:flex; 
	flex-direction: column;
	width:142px;
	padding:0 3px 0 10px;
}
.chat-list .list-info .name {
	overflow:hidden;
	max-height: 42px;
	font-size:14px;
	color:#666;
	font-weight:300;
	word-break: break-all;
}
.chat-list .list-info .tit,
.chat-list .list-info .date {
	font-size:12px; 
	color:#999; 
	font-weight:300;


}
.chat-list .category {width:65px; text-align: center;}
.chat-list .count {flex:1;padding-left:4px}
.chat-list .count > span {font-size:12px;}
.chat-list .count .txt-count {color:#423cbd;font-weight:500;}
.chat-list .count .txt-stat {color:#999;font-weight:300;}
.flag {
	display:inline-block;
	height:20px;
	min-width:50px;
	padding: 0 8px;
	background-color:#fff;
	font-size:12px;
	text-align: center;
	border-radius:4px;
	line-height:16px;
}
.flag.type1 {
	border:1px solid #423cbd;
	color:#423cbd
}
.flag.type2 {
	border:1px solid #d3425e;
	color:#d3425e
}
.flag.type3 {
	border:1px solid #21b9bf;
	color:#21b9bf
}
.flag.type4 {
	border:1px solid #a35aef;
	color:#a35aef
}
.flag.type5 {
	border:1px solid #999;
	color:#999
}
.flag.type6 {
	border:1px solid #344783;
	color:#344783;
}
.fix-noti {
	position: relative;
    width: 26px;
    height: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn-fixed {
	position:absolute;	
	top:0;
	right: 0;
	width: 18px;
    height: 18px;
	background: url(../images/icon/icon_pin_off.png) no-repeat center;
}
.btn-fixed.on {	background: url(../images/icon/icon_pin_on.png) no-repeat center;}
.fix-noti .count-noti {
	display:inline-block;
	width:20px;
	height:20px;
	/* padding:0 5px; */
	background-color:#e53a4c;
	color:#fff;
	line-height: 20px;
	font-weight: 500;
	border-radius: 50%;
	text-align:center;
	font-size:12px
}
 .tab-cont .btn-area.fixed {
	position:absolute;
	bottom:20px;
	width:363px;
	text-align:center;
	
}
 .tab-cont .btn-area.fixed .btn-round {
	width:100px;
	height:32px;
	line-height:inherit;
	background-color:rgba(69, 88, 150, .8);
	box-shadow: 0 8px 10px rgba(226, 226, 227, .9);
	font-weight: 500;
	color:#fff
}


.chat-util {
	width:416px;
	overflow: hidden;
	background-color:#f3f4f5;	
}

.chat-util .bottom{padding:0 20px;}
.chat-util .bottom .flex-area {padding:5px 0 8px}
.chat-util .bottom .flex-area .tit {
	font-weight:300;
	color:#666
}
.chat-util .board-write + .flex-area {margin-top:25px}

.history-list {
	overflow-y: auto;
	height: 72px;
	padding:8px 10px;
	background-color:#fff;	
}
.history-list li {
	line-height:20px; 
	font-weight:300; 
	color:#666
}
.chat-util .bottom + .top {margin-top:25px}
.chat-util .tab-wrap {padding-bottom:25px; margin-top:5px;}
.send-list {
	height:calc(100vh - 689px); /* 최근접촉이력 삭제될경우 557*/
	background-color:#fff;
	border:1px solid #e7e9ee;
	overflow-x:hidden;
}
.send-list li {
	display:flex; 
	/* justify-content: space-between; */
	align-items: center;
	height:43px;
	padding:0 20px 0 10px;
	border-top:1px solid #f3f4f6;
	border-bottom:1px solid #f3f4f6;
	background-color:#fff;
	margin-top:-1px;
}
.send-list li .btn-like {width:18px}
.send-list li .category {
	width:55px; 
	text-align:center; 
	color:#666; 
	font-weight: 500;
}
.send-list li .cont {
	max-width:inherit; 
	flex:1; 
	padding:0 15px 0 5px; 
	color:#666; 
	font-weight:300;
}
.chat-util .bottom .tab-conts .tab-cont:first-child .send-list li .cont {
	max-width:66%; 
}
/* .chat-util .tab-cont .btn-area.fixed {bottom:70px;}  */
.chat-util .tab-cont .btn-area.fixed .btn-round {width:100px}

/* admin */
.admin-area {background-color:#f3f4f5;}
.admin-area .content {
	padding:0 20px 20px 20px; 
}
.admin-area .admin-tit {
	padding:20px 0;
	font-size:16px;
	color:#000;
	font-weight: 500;
}
.admin-area .section +  .section {margin-top:25px}
.admin-area .search-area  {
	margin:12px 0;
	padding:12px 20px;
	background-color: #fff;
	border-radius: 8px;
}
.admin-area .search-area + .count {padding:20px 0 10px}
.admin-area .search-area .section {
	display: flex;
	align-items: center;
}
.admin-area .search-area .section + .section {margin-top:10px}
.admin-area .search-area .section > .input-text ,
.admin-area .search-area .section > .select-box{margin-right:10px}
/* .admin-area .search-area .section .input-text + .btn-round {margin-left:10px;} */
.admin-area .search-area .section .input-text input {height:36px; line-height:34px}
.admin-area .search-area label {
	padding-right:20px;
	font-size:14px;
	color:#465e6f;
	font-weight: 300;
}
.admin-area .search-area .btn-search {
	padding:0 25px 0 47px;
	margin-left:10px;
	background: #f5f6f8 url(../images/icon/ico_srch2.png) no-repeat 20px center;
}

@media (max-height: 849px) {
	.contents{
		min-height: 800px;
	}
	.content.flex {		
		min-height: 720px;
	}
	.chat-list {
		height:628px
	}
	.send-list {
		height:270px;
	}
	
}